source https://nuget.org/api/v2

nuget Suave
nuget SQLProvider 
nuget FSharp.Data
nuget FSharp.Formatting
nuget FsPickler
nuget Paket.Core
nuget FSharp.Azure.StorageTypeProvider

http https://raw.githubusercontent.com/fssnippets/fssnip-website/master/src/FsSnip.Website/common/parser.fs parser.fs
http https://raw.githubusercontent.com/fssnippets/fssnip-website/master/src/FsSnip.Website/common/utils.fs utils.fs